
{% extends 'base.html' %}
{% block body %}
<div>
<p><a href="{{ url_for('index')}}"> Home </a></p>
<h3>{{ legend }}</h3>

{% with messages = get_flashed_messages() %}
 {% if messages %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash">
   {% for message in messages %}
   <strong>Alert!</strong> {{ message }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
   {% endfor %}
   {% endif %}
   {% endwith %}
 </div>


{% if form %}
<form method="POST">


  {{ form.csrf_token }}
  {{ form.Pokemon_Name.label }} {{form.Pokemon_Name }}
  {{ form.Type1.label }} {{form.Type1 }}
  {{ form.Type2.label }} {{form.Type2 }}
  {{ form.HP.label }} {{form.HP }}
  {{ form.Attack.label }} {{form.Attack }}
  {{ form.Defense.label }} {{form.Defense }}
  {{ form.Sp_Atk.label }} {{form.Sp_Atk }}
  {{ form.Sp_Def.label }} {{form.Sp_Def }}
  {{ form.Speed.label }} {{form.Speed }}

  <input type="submit" formaction="{{url_for('update_pokemon', PokemonId=form.PokemonId)}}" value="Update">
  <input type="submit" formaction="{{url_for('delete_pokemon', PokemonId=form.PokemonId)}}" value="Delete">



</form>
{% endif %}
</div>
{% endblock %}
